<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Divs</title>
  <!--    start of JS connection-->
    <script src="../static/bootstrap/js/jquery-3.4.0.js"></script>
    <script src="../static/bootstrap/js/popper.min.js"></script>
    <script src="../static/bootstrap/js/bootstrap.js"></script>
<!--    End of JS connection-->
<!--        start of css connection-->
    <link rel="stylesheet" href="../static/bootstrap/css/bootstrap.css">
    <link rel="stylesheet" href="../static/bootstrap/css/custom.css">
    <link rel="stylesheet" href="../static/bootstrap/css/bootstrap-grid.css">
    <!--        End of css connection-->
</head>
<body>
  <div class="row">
    <div class="x bg-danger col-md-6 col-sm-8 col-6 col-lg-9 col-xl-6"></div>
    <div class="x bg-info col-md-6 col-sm-4 col-6 col-lg-3 col-xl-6"></div>
  </div>
  <div class="row">
      <div class="x bg-secondary col-4 col-sm-4 col-md-4 col-lg-4 col-xl-4"></div>
      <div class="x bg-success col-4 col-sm-4 col-md-4 col-lg-4 col-xl-4"></div>
      <div class="x bg-warning  col-4 col-sm-4 col-md-4 col-lg-4 col-xl-4"></div>
  </div>
  <div class="row">
      <div class="x bg-white col-3 col-sm-3 col-mid-2 col-lg-3"></div>
      <div class="x bg-secondary col-3 col-sm-3 col-md-4 col-lg-3"></div>
      <div class="x bg-danger col-3 col-sm-3 col-md-2 col-lg-3"></div>
      <div class="x bg-primary col-3 col-sm-3 col-md-4 col-lg-3"></div>
  </div>
</body>
</html>