<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Gallery</title>
  <!--    start of JS connection-->
  <script src="../static/bootstrap/js/jquery-3.4.0.js"></script>
  <script src="../static/bootstrap/js/popper.min.js"></script>
  <script src="../static/bootstrap/js/bootstrap.js"></script>
  <!--    End of JS connection-->
  <!--        start of css connection-->
  <link rel="stylesheet" href="../static/bootstrap/css/bootstrap.css">
  <link rel="stylesheet" href="../static/bootstrap/css/custom.css">
  <link rel="stylesheet" href="../static/bootstrap/css/bootstrap-grid.css">
  <!--        End of css connection-->
</head>
<body>
<!--start of navigation section-->
<section>
  <nav class="navbar navbar-expand-md bg-dark navbar-dark">
    <a class="navbar-brand" href="index.html">Emobilis coding school</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="collapsibleNavbar">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" href="index.html">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="About.html">About</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="Gallery.html">Gallery</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="Register.html">Register</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="Login.html">Login</a>
        </li>
      </ul>
    </div>
  </nav>
</section>
<!--End of navigation section-->
<!--start of images-->
<section>
   <h2>images</h2>
<img src="../static/images/cherries-g75d9121cf_1280.png" class="rounded" alt="Cinque Terre" width="304" height="236">
<img src="../static/images/cookies-g3b4d1a69b_640.jpg" class="rounded" alt="Cinque Terre" width="304" height="236">
<img src="../static/images/corn-g89275e0f6_640.jpg" class="rounded" alt="Cinque Terre" width="304" height="236">
<img src="../static/images/coffee-ge03c5040e_640.jpg" class="rounded" alt="Cinque Terre" width="304" height="236">
<img src="../static/images/coffee-g685591889_640.jpg" class="rounded" alt="Cinque Terre" width="304" height="236">
<img src="../static/images/chick.jpeg" class="rounded" alt="Cinque Terre" width="304" height="236">
</section>
<!--end of images-->
<br>
<!--start of footer section-->
<section class="bg-dark pt-1 pb-3">
  <div class="container p-3 my-3 bg-danger text-white">
    <h1>My First Bootstrap Page</h1>
    <p>This container has a dark background color and a white text, and some extra padding and margins.</p>
  </div>
</section>
<!--end of footer section-->
</body>
</html>