<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
<!--    start of JS connection-->
    <script src="../static/bootstrap/js/jquery-3.4.0.js"></script>
    <script src="../static/bootstrap/js/popper.min.js"></script>
    <script src="../static/bootstrap/js/bootstrap.js"></script>
<!--    End of JS connection-->
<!--        start of css connection-->
    <link rel="stylesheet" href="../static/bootstrap/css/bootstrap.css">
    <link rel="stylesheet" href="../static/bootstrap/css/custom.css">
    <link rel="stylesheet" href="../static/bootstrap/css/bootstrap-grid.css">
    <!--        End of css connection-->
</head>
<body>
<h1 class="text-warning">emobilis coding school</h1>
<button class="btn btn-danger">Home</button>
<button class="btn btn-light">About</button>
<button class="btn btn-outline-info">Gallery</button>
<button class="btn btn-group">Register</button>
<button class="btn btn-info">Login</button>
<hr>
    <h3>Tables</h3>
<!--    start of tables-->
<table class="table">
    <thead>
      <tr>
        <th>Firstname</th>
        <th>Lastname</th>
        <th>Email</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>John</td>
        <td>Doe</td>
        <td>john@example.com</td>
      </tr>
      <tr>
        <td>Mary</td>
        <td>Moe</td>
        <td>mary@example.com</td>
      </tr>
      <tr>
        <td>July</td>
        <td>Dooley</td>
        <td>july@example.com</td>
      </tr>
    </tbody>
  </table>
<!--    End of tables-->

<!--    start of images-->
<h2>images</h2>
<img src="../static/images/cherries-g75d9121cf_1280.png" class="rounded" alt="Cinque Terre" width="304" height="236">
<img src="../static/images/cookies-g3b4d1a69b_640.jpg" class="rounded" alt="Cinque Terre" width="304" height="236">
<img src="../static/images/corn-g89275e0f6_640.jpg" class="rounded" alt="Cinque Terre" width="304" height="236">
<img src="../static/images/coffee-ge03c5040e_640.jpg" class="rounded" alt="Cinque Terre" width="304" height="236">
<img src="../static/images/coffee-g685591889_640.jpg" class="rounded" alt="Cinque Terre" width="304" height="236">
<img src="../static/images/chick.jpeg" class="rounded" alt="Cinque Terre" width="304" height="236">
<!--    End of images-->
<!--    start of jumbotron-->
<h1>jumbotron</h1>
<div class="container">
  <div class="jumbotron">
    <h1>Bootstrap Tutorial</h1>
  </div>
  <p>Christiano Ronaldo is the all time GOAT</p>
  <p>He has broken the record of Pele and Sise.</p>
</div>
<!--    End of jumbotron-->
<!--    start of alerts-->
<h1>Alerts</h1>
<div class="container">
  <h2>Alerts</h2>
  <div class="alert alert-success">
    <strong>Success!</strong> This alert box could indicate a successful or positive action.
  </div>
  <div class="alert alert-info">
    <strong>Info!</strong> This alert box could indicate a neutral informative change or action.
  </div>
  <div class="alert alert-warning">
    <strong>Warning!</strong> This alert box could indicate a warning that might need attention.
  </div>
  <div class="alert alert-danger">
    <strong>Danger!</strong> This alert box could indicate a dangerous or potentially negative action.
  </div>
  <div class="alert alert-primary">
    <strong>Primary!</strong> Indicates an important action.
  </div>
  <div class="alert alert-secondary">
    <strong>Secondary!</strong> Indicates a slightly less important action.
  </div>
  <div class="alert alert-dark">
    <strong>Dark!</strong> Dark grey alert.
  </div>
  <div class="alert alert-light">
    <strong>Light!</strong> Light grey alert.
  </div>
</div>
<!--    End of alerts-->
<!--    start of button groups-->
<h1>button groups</h1>
<div class="container">
  <h2>Button Group</h2>
  <div class="btn-group">
    <button type="button" class="btn btn-primary">Apple</button>
    <button type="button" class="btn btn-primary">Samsung</button>
    <button type="button" class="btn btn-primary">Sony</button>
  </div>
</div>
<!--    End of button groups-->
<!--    start of badges-->
<h1>badges</h1>
<div class="container">
  <h2>Badges</h2>
  <h1>Example heading <span class="badge badge-secondary">New</span></h1>
  <h2>Example heading <span class="badge badge-secondary">New</span></h2>
  <h3>Example heading <span class="badge badge-secondary">New</span></h3>
  <h4>Example heading <span class="badge badge-secondary">New</span></h4>
  <h5>Example heading <span class="badge badge-secondary">New</span></h5>
  <h6>Example heading <span class="badge badge-secondary">New</span></h6>
</div>
<!--    End of badges-->
<!--    start of progress bar-->
<h1>progress bar</h1>
<div class="container">
  <h2>Basic Progress Bar</h2>
  <div class="progress">
    <div class="progress-bar" style="width:70%"></div>
  </div>
</div>
<!--    End of progress bar-->
<!--    start of spinners-->
<h1>spinners</h1>
<div class="container">
  <h2>Spinners</h2>
  <div class="spinner-border"></div>
</div>
<!--    End of spinners-->
<!--    start of pagination-->
<h1>pagination</h1>
<div class="container">
  <h2>Pagination</h2>
  <ul class="pagination">
    <li class="page-item"><a class="page-link" href="#">Previous</a></li>
    <li class="page-item"><a class="page-link" href="#">1</a></li>
    <li class="page-item"><a class="page-link" href="#">2</a></li>
    <li class="page-item"><a class="page-link" href="#">3</a></li>
    <li class="page-item"><a class="page-link" href="#">Next</a></li>
  </ul>
</div>
<!--    End of pagination-->
<!--    start of list group-->
<h1>list group</h1>
<div class="container">
  <h2>Basic List Group</h2>
  <ul class="list-group">
    <li class="list-group-item">First item</li>
    <li class="list-group-item">Second item</li>
    <li class="list-group-item">Third item</li>
  </ul>
</div>
<!--    End of list group-->
<!--    start of cards-->
<h1>cards</h1>
<div class="container">
  <h2>Basic Card</h2>
  <div class="card">
    <div class="card-body">Basic card</div>
  </div>
</div>
<!--    End of cards-->
<!--    start of dropdowns-->
<h1>dropdowns</h1>
<div class="container">
  <h2>Dropdowns</h2>
  <div class="dropdown">
    <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
      Dropdown button
    </button>
    <div class="dropdown-menu">
      <a class="dropdown-item" href="#">Link 1</a>
      <a class="dropdown-item" href="#">Link 2</a>
      <a class="dropdown-item" href="#">Link 3</a>
    </div>
  </div>
</div>
<!--    End of dropdowns-->
<!--    start of collapse-->
<h1>collapse</h1>
<div class="container">
  <h2>Simple Collapsible</h2>
  <p>Click on the button to toggle between showing and hiding content.</p>
  <button type="button" class="btn btn-primary" data-toggle="collapse" data-target="#demo">Simple collapsible</button>
  <div id="demo" class="collapse">
    Lorem ipsum dolor sit amet, consectetur adipisicing elit,
    sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
    quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
  </div>
</div>
<!--    End of collapse-->
<!--    start of Navs-->
<h1>Navs</h1>
<div class="container">
  <h2>Nav</h2>
  <p>Basic horizontal menu:</p>
  <ul class="nav">
    <li class="nav-item">
      <a class="nav-link" href="#">Link</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Link</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Link</a>
    </li>
    <li class="nav-item">
      <a class="nav-link disabled" href="#">Disabled</a>
    </li>
  </ul>
</div>
<!--    End of Navs-->
<!--    start of NavBar-->
<h1>NavBar</h1>
<nav class="navbar navbar-expand-sm bg-light">
  <ul class="navbar-nav">
    <li class="nav-item">
      <a class="nav-link" href="#">Link 1</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Link 2</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Link 3</a>
    </li>
  </ul>
</nav>
<br>

<div class="container-fluid">
</div>
<!--    End of NavBar-->
</body>
</html>